.title {
  text-align: center;
  padding: 20px;
}
.square {
  width: 75px;
  height: 75px;
  border: 1px solid grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrap {
  display: flex;
  justify-content: center;
}
.column {
  display: flex;
  flex-direction: column-reverse;
}

.yellow {
  background-color: rgb(234, 234, 39);
}
.red {
  background-color: rgb(219, 46, 46);
}
.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
